.CommunityUI {
    text-align: center;
    padding: 20px;
  }
  
  textarea {
    width: 80%;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #a7dba9;
    color: #FFB6C1;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a2eca6;
  }
  
  p {
    font-size: 1.2em;
    color: #FFB6C1(255, 0, 217, 0.933);
  }
  